body {
    padding-top: 20px;
}

.container-fluid {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 5px solid black;
    padding: 8px;
    box-shadow: 5px 5px #bebaba;
    width: 33%;
    background-color: #7fffd4
}

.name {
    font-weight: 700;
    color: #ff0000;
}

li {
    list-style-type: none;
}

.highlights {
    background-color: #f0ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 2px grey;
    border-radius: 12px;
}

.brief {
    background-color: #f0ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    margin-bottom: 10px;
    box-shadow: 3px #000000;
    text-align: justify;
    box-shadow: 5px 5px 2px grey;
    border-radius: 12px;
}

.title h3 {
    background-color: #f0ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 2px grey;
}

header h2 {
    text-align: center;
    border: 2px solid #000000;
    padding: 8px;
    box-shadow: 5px 5px 2px grey;
    border-radius: 12px;
    background-color: #000;
    color: #fff;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px;
}

.family-name {
    font-style: italic;
    font-size: 15px;
    color: #ff0000
}

@media only screen and (max-width: 982px){
    .container-fluid{
        width: 90%
    }
}